*|* {
  box-sizing:border-box;
  margin:0px;
}

#sign{    background-color:#69c;
}

.underlined :hover {
  text-decoration:underline;
}

main{
position:relative;
min-width:960px;
top:200px;
}
@media screen and (max-height:650px){
main {
  top:150px;
}
}

.centered{
  display:block;
  margin:auto;
}

form {
  width:600px;
  height:50px;
  display:block;
  margin:auto;
  background-color:#f999;
  text-align:center;
}

.search-bar {
  height:25px;
}

#logo{
  width:272px;
}

#search{
  width: 500px;
}

#glass{
  width:20px;
}
#glass2{
  width:20px;
  opacity:50%;
}

#search-buttons{
  width:500px;
  display:flex;
}

#google-search-button{
  width:140px;
  margin:30px 5px 0px auto;
}
#lucky-search-button{
  width:180px;
  margin:30px auto 0px 5px;
}

.search-buttons {
  height:40px;
}

nav {
background-color:#f004;
position:absolute;
right:10px;
height:20px;
width:490px;
}

.nav-bar-parts {
margin:0px 10px;
width:150px;
display:inline;
}

#top-options {

}


.bottom-bar {
background-color: #ddd5;
border: solid 1px #ddda;
height:38px;
margin: -1px 0 0 0;
}

footer {
width:1920px;
position:fixed;
bottom:0;
left:0;
right:0;
}



